body{
    justify-content: center;
    display: flex;
    /* background: rgba(0,0,0,0.3) url('../images/contact.avif '); */
    background-size: cover;
    background-blend-mode:darken;
}

.div1{
    width: 35%;
    height: 500px;
    background:rgba(0,0,0,0.3);
    margin-top: 5%;
    border-radius: 5px;
    border: 7px solid skyblue;
    align-items: center;
    /* display: flex; */
    box-shadow: 10px 10px 10px 8px rgb(153, 227, 237);
}

h1{
    color: azure;
    margin-left: 35%;
}

p{
    color: rgb(226, 237, 237);
    margin-left: 10%;  
}


input{
   margin-left: 10%;
    /* border: none;
    background-color: transparent;
    outline: none;
    text-decoration:underline; */
    width: 80%;
    font-size: 18px;
    padding: 5px;
    border: 2px solid skyblue;
    margin-top: 4%;
    background-color: rgba(0,0,0,0.1);
    color: black;

}
    
textarea{
    margin-left: 10%;
    /* border: none;
    background-color: transparent;
    outline: none;
    text-decoration:underline; */
    width: 80%;
    font-size: 15px;
    padding: 5px;
    border: 2px solid skyblue;
    margin-top: 4%;
    background: rgba(0,0,0,0.1);
}

.btn{
    padding: 5px;
    margin-left: 23%;
    margin-top: 8%;
    background-color:  rgba(0,0,0,0.1);
    font-size: 15px;
    color: aliceblue;
    border: 2px solid paleturquoise;
    border-radius: 5px;

}

.btn2{
    padding: 6px;
    margin-right: 23%;
    margin-top: 8%;
    float: right;
    background-color:  rgba(0,0,0,0.1);
    font-size: 15px;
    color: aliceblue;
    border: 2px solid paleturquoise;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
}